* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.hero-container {
  background-image: url(imgs/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
}

.hero-title{
  transform: translate(-50%,-50%);
  color: #fff;
}
.title{
  font-size: 5rem;
  color: #9AE66E;
}

.about {
  padding: 3rem 0;
  background-color: #FAEDC6;
}

.about-container{
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
}

.about-img {
  background-image: url(imgs/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem 0 0 1rem;
}

.about-text {
  padding: 1rem;
}

.services {
  background-color: #F8F9FA;
  padding: 4rem 5rem;
}

.services-grid {
  margin-top: 2rem;
}

.sucursales {
  padding: 4rem 5rem;
}

.btn-sucursales {
  display: flex;
  border-bottom: 1px solid #D3E4CD;
}
.btn-sucursal {
  background: transparent;
  border:none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  padding-right: 4rem;
}
.sede-active  {
  background: #D3E4CD;
  color: #fff;
}

.btn-sucursales button:hover {
  background:#D3E4CD ;
  color: #fff;
}

.carousel-img {
  height: 28rem;
}

.form {
  width: 50%;
  margin: 3rem auto;
  background-color: #F8F9FA;
  padding: 1.5rem;
  border-radius: 1rem;

}

#sede-sur {
  display: none;  
}
#sede-centro {
  display: none;  
}

#map-sur { 
  height: 300px; 
}

#map-norte { 
  height: 300px; 
}

#map-centro { 
  height: 300px; 
}

.login {
  animation: fadeIn 2s ease-out;
}

.datos-usuario {
  animation: fadeIn 2s ease-out;
  display: none;
}

.seleccion-datos {
  animation: fadeIn 2s ease-out;
  display: none;
}

.seleccion-servicio {
  animation: fadeIn 2s ease-out;
  display: none;
}

.datos-reserva {
  animation: fadeIn 2s ease-out;
  display: none;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  75% {
    opacity: 1;
    transform: translateX(2%);
  }
  100%{
    transform: translateX(0);
  }
  
}



.calendario {
  display: none;
}

.horario-control {
  display: none;
}

.error-message{
  color: #814e4e;
}

.footer {
  background-color: #F8F9FA;
  padding-top: 0.9rem;
}



